librosa_learn.ipynb
data/H01Arthas02.mp3
data/H01Arthas04.mp3
data/H01Arthas06.mp3
data/H01Arthas08.mp3
data/H01Arthas10.mp3
testing.csv
training.csv
validation.csv
try1.py
test_output
.vscode/settings.json
