.vscode/settings.json
RF_full.db
XGB_research.db
knn_research.db
__pycache__/plot_probabilities_2d.cpython-313.pyc
__pycache__/plot_probabilities_2d.cpython-313.pyc
__pycache__/plot_probabilities_2d.cpython-313.pyc
__pycache__/plot_probabilities_2d.cpython-313.pyc
RF_full2.db
XGB_research2.db
knn_research2.db
__pycache__/plot_probabilities_2d.cpython-313.pyc
data2/for-2sec_test.csv
data2/for-2sec_train.csv
data2/for-2sec_validation.csv
data2/for-norm_test.csv
data2/for-norm_train.csv
data2/for-norm_validation.csv
data2/for-original_test.csv
data2/for-original_train.csv
data2/for-original_validation.csv
data2/for-rerec_test.csv
data2/for-rerec_train.csv
data2/for-rerec_validation.csv
results/~$research1_knn_result.xlsx
results/research1_knn_result.xlsx
results/research1_result.xlsx
results/research1_rf_result.xlsx
results/research1_xgb_result.xlsx
results/research2_knn_result.xlsx
results/research2_rf_result.xlsx
results/research2_xgb_result.xlsx
results/research3_knn_result.xlsx
results/research3_rf_result.xlsx
results/research3_xgb_result.xlsx
results/research4_knn_result.xlsx
results/research4_rf_result.xlsx
results/research4_xgb_result.xlsx
XGB_research3.db
XGB_full3.db
RF_full3.db
RF_full_try.db
knn_research3.db
research.ipynb
research2.ipynb
